# dependencies
node_modules/

# local env files
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# runtime data
pids/
*.pid
*.seed
*.pid.lock

# editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Docker
Dockerfile
.dockerignore

# build output
dist/
build/
coverage/

# misc
*.local
